
lab01/Ур0/desktop\.ini

lab01/Ур1/1/\.vs/1/v15/\.suo

lab01/Ур1/1/\.vs/1/v15/Browse\.VC\.db

lab01/Ур1/1/\.vs/1/v15/ipch/

lab01/Ур1/2/\.vs/2/v15/

lab01/Ур1/4/\.vs/4/v15/ipch/

*.user

*.filters

lab01/Ур1/4/\.vs/4/v15/

*.vcxproj

*.sln

lab01/Ур1/3/\.vs/3/v15/

lab01/Ур0/1/\.vs/

lab01/Ур0/1/Debug/

lab01/Ур0/2/\.vs/

lab01/Ур0/3/\.vs/

lab01/Ур0/4/\.vs/

lab02/1/\.vs/

lab02/1/Debug/

lab02/2/\.vs/

lab02/3/\.vs/

lab02/3/Debug/
